@import './bootstrap-custom';

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

.navbar {
	font-size: .8em;
	margin-bottom: 0px;
}

.navbar .glyphicon, .navbar .fa {
	margin-right: 7px;
}

.mainContent {	
	background-color: white;
	width: 100%;
	height: 100%;
}


.jumbotron {
	width: 100%;
	height: 100vh;
	padding-top: 0px;
	position: relative;
}

.persona {
	position: absolute;
	bottom: 100px;
	color: #f4ffaf;
	margin-left: 25px;
	text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 1px 0 #000;
}

.dictation {
	position: absolute;
	right: 10px;
	bottom: 26px;
	color: #f4ffaf;
	text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 1px 0 #000;
}

.author {
	bottom: 10px;
}

h1 {
	font-weight: bold;
	text-align: center;
	margin: 30px 0;
}

em {
	font-weight: bold;
	font-size: 1.2em;
}

.pic {
	display: block;
	margin: 20px auto;
}

.with-background {
	background-image: url('./assets/fundo2.png');
	background-repeat: repeat;
	color: #f4ffaf;
}

.contact-text {
	text-align: center;
}

.list-inline {
	margin: 40px;
}

.list-inline li {
	padding: 0 10px;
}

.list-inline .social-github i {
	color: black;
}

.list-inline .social-twitter i {
	color: #4099FF;
}

.list-inline .social-facebook i {
	color: #335795;
}

.list-inline .social-google-plus i {
	color: #DB4A37;
}
 
@media (min-width: 992px) {   
	.jumbotron-bg-lg {
		background: url('./assets/typography_1920x1080.jpg');
		background-size: 100% 100%;
	}
}

/* Medium Devices, Desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.jumbotron-bg-md {
		background: url('./assets/typography_1024x768.jpg');
		background-size: 100% 100%;
	}
}

/* Small Devices, Tablets */
@media (min-width: 416px) and (max-width: 767px) {
	.jumbotron-bg-sm {
		background: url('./assets/typography_700x525.jpg');
		background-size: 100% 100%;
	}
}

@media (max-width: 415px) {
	.jumbotron-bg-xs {
		background: url('./assets/typography_400x700.jpg');
		background-size: 100% 100%;
	}
}



