@import './bootstrap-custom';

* {
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.navbar {
	margin-bottom: 0px;
}

.glyphicon, .fa {
	margin-right: 7px;
}

.mainContent {	
	background-color: white;
	width: 100%;
	height: 100%;
}


.jumbotron {
	width: 100%;
	height: 100vh;
	padding-top: 0px;
	position: relative;
}

.persona {
	position: absolute;
	bottom: 100px;
	color: #f4ffaf;
	margin-left: 25px;
	text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 1px 0 #000;
}

.dictation {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #f4ffaf;
	text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -1px 1px 0 #000;
}

.pic {
	display: block;
	margin: 0 auto;
}

@media (min-width: 992px) {   
	.jumbotron-bg-lg {
		background: url('./assets/typography_1920x1080.jpg');
		background-size: 100% 100%;
	}
}

/* Medium Devices, Desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.jumbotron-bg-md {
		background: url('./assets/typography_1024x768.jpg');
		background-size: 100% 100%;
	}
}

/* Small Devices, Tablets */
@media (min-width: 416px) and (max-width: 767px) {
	.jumbotron-bg-sm {
		background: url('./assets/typography_700x525.jpg');
		background-size: 100% 100%;
	}
}

@media (max-width: 415px) {
	.jumbotron-bg-xs {
		background: url('./assets/typography_400x700.jpg');
		background-size: 100% 100%;
	}
}



